.popup {
        margin: 10px;
}
.fade-in-bounce {
        animation: fadein 2s forwards;
        -webkit-animation: fadein 2s forwards;
        -moz-animation: fadein 2s forwards;
        -o-animation: fadein 2s forwards;
        -ms-animation: fadein 2s forwards;
        opacity: 0;
}
.hover-fade:hover {
        background-color: #3e8e41;
        color: white;
}
@keyframes fadein {
        0% {
                opacity: 0;
                transform: scale(0.8);
        }
        50% {
                opacity: 0.5;
                transform: scale(1.2);
        }
        100% {
                opacity: 1;
                transform: scale(1);
        }
}

@-moz-keyframes fadein {
        0% {
                opacity: 0;
                transform: scale(0.8);
        }
        50% {
                opacity: 0.5;
                transform: scale(1.2);
        }
        100% {
                opacity: 1;
                transform: scale(1);
        }
}

@-webkit-keyframes fadein {
        0% {
                opacity: 0;
                transform: scale(0.8);
        }
        50% {
                opacity: 0.5;
                transform: scale(1.2);
        }
        100% {
                opacity: 1;
                transform: scale(1);
        }
}

@-o-keyframes fadein {
        0% {
                opacity: 0;
                transform: scale(0.8);
        }
        50% {
                opacity: 0.5;
                transform: scale(1.2);
        }
        100% {
                opacity: 1;
                transform: scale(1);
        }
}

@-ms-keyframes fadein {
        0% {
                opacity: 0;
                transform: scale(0.8);
        }
        50% {
                opacity: 0.5;
                transform: scale(1.2);
        }
        100% {
                opacity: 1;
                transform: scale(1);
        }
}

.fade-in {
        animation: fadein 2s forwards;
        -webkit-animation: fadein 2s forwards;
        -moz-animation: fadein 2s forwards;
        -o-animation: fadein 2s forwards;
        -ms-animation: fadein 2s forwards;
        opacity: 0;
}
@keyframes fadein {
        0% {
                opacity: 0;
                transform: scale(0.95);
        }
        50% {
                opacity: 0.5;
                transform: scale(1.05);
        }
        100% {
                opacity: 1;
                transform: scale(1);
        }
}

@-moz-keyframes fadein {
        0% {
                opacity: 0;
                transform: scale(0.95);
        }
        50% {
                opacity: 0.5;
                transform: scale(1.05);
        }
        100% {
                opacity: 1;
                transform: scale(1);
        }
}

@-webkit-keyframes fadein {
        0% {
                opacity: 0;
                transform: scale(0.95);
        }
        50% {
                opacity: 0.5;
                transform: scale(1.05);
        }
        100% {
                opacity: 1;
                transform: scale(1);
        }
}

@-o-keyframes fadein {
        0% {
                opacity: 0;
                transform: scale(0.95);
        }
        50% {
                opacity: 0.5;
                transform: scale(1.05);
        }
        100% {
                opacity: 1;
                transform: scale(1);
        }
}
.nav-item {
        font-size: 1.2em;
}
.dropdown-item {
        font-size: 1.1em;
}
#mainContainer {
        width: 100vw;
        height: 20vh;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
        flex: 0 auto;
        align-content: center;
}
#secContainer {
        height: 50vh;
}
.flex-center {
        height: 50vh;
        align-items: center;
        justify-content: center;
}

#head-main {
        padding: 9px 12px 9px;
        font-size: 2em;
}
.big-btn {
        margin: 1.2em;
        padding: 1.2rem 1.2rem;
        background-color: #2e0f4f;
        font-size: 1.5em;
        border-width: 2px;
}
#searchSubmit {
        border: 2px solid #172d52;
        color: #ffffff;
}
