{% extends 'layout.html' %}{% block title %}About{% endblock %} {% block body %}
<nav>
        <ul class="pagination-lg">
                <a href="javascript:history.back()"><h2>&laquo;</h2></a>
        </ul>
</nav>
<div class="container" style="padding-top: 10%">
        <div class="row"></div>
        <div
                id="carouselExampleFade"
                class="carousel slide carousel-fade row"
                data-ride="carousel"
        >
                <div class="carousel-inner col-12">
                        <div class="carousel-item active">
                                <img
                                        class="d-block w-100"
                                        style="border-radius: 5%"
                                        src="{{ url_for('static',filename='1.jpg')}}"
                                        alt="First slide"
                                />
                        </div>
                        <div class="carousel-item">
                                <img
                                        class="d-block w-100"
                                        style="border-radius: 5%"
                                        src="{{url_for('static', filename='2.jpg')}}"
                                        alt="Second slide"
                                />
                        </div>
                        <div class="carousel-item">
                                <img
                                        class="d-block w-100"
                                        style="border-radius: 5%"
                                        src="{{url_for('static', filename='3.jpg')}}"
                                        alt="Third slide"
                                />
                        </div>
                </div>
                <a
                        class="carousel-control-prev"
                        href="#carouselExampleFade"
                        role="button"
                        data-slide="prev"
                >
                        <span
                                class="carousel-control-prev-icon"
                                aria-hidden="true"
                        ></span>
                        <span class="sr-only">Previous</span>
                </a>
                <a
                        class="carousel-control-next"
                        href="#carouselExampleFade"
                        role="button"
                        data-slide="next"
                >
                        <span
                                class="carousel-control-next-icon"
                                aria-hidden="true"
                        ></span>
                        <span class="sr-only">Next</span>
                </a>
        </div>
</div>
{% endblock %}
