{% extends 'layout.html' %} {% block title %}Brand-Name{% endblock %} {% block
body %}
<div
        class="modal fade top"
        id="myModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
        data-backdrop="true"
>
        <div
                class="modal-dialog modal-frame modal-top modal-notify modal-info"
                role="document"
        >
                <div class="modal-content">
                        <!--Body-->
                        <div class="modal-body">
                                <div
                                        class="row d-flex justify-content-center align-items-center"
                                >
                                        <p class="pt-3 pr-2">
                                                We are a new site! Would you
                                                like to know about us?
                                        </p>
                                        <br />
                                        <a
                                                type="button"
                                                href="/about"
                                                class="btn btn-primary popup"
                                                >Yes! Take me to About
                                                <i class="fas fa-book ml-1"></i
                                        ></a>
                                        <a
                                                type="button"
                                                class="btn btn-outline-primary waves-effect popup"
                                                data-dismiss="modal"
                                                >No, thanks.</a
                                        >
                                </div>
                        </div>
                </div>
                <!--/.Content-->
        </div>
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex-sm">
        <a class="navbar-brand" href="#">
                <img
                        src=" {{url_for('static', filename='logo.png')}}"
                        width="40"
                        height="40"
                        class="d-inline-block align-top"
                        alt=""
                        loading="lazy"
                />
        </a>
        <a class="navbar-brand" href="#">Brand-Name</a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
                <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                                <a class="nav-link" href="#"> Home </a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="/about"> About </a>
                        </li>
                        <li class="nav-item dropdown">
                                <a
                                        class="nav-link dropdown-toggle"
                                        href="#"
                                        id="navbarDropdown"
                                        role="button"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        ;
                                        aria-expanded="false"
                                >
                                        More
                                </a>
                                <div
                                        class="dropdown-menu"
                                        aria-labelledby="navbarDropdown"
                                >
                                        <a class="dropdown-item" href="#">
                                                More 1
                                        </a>
                                        <a class="dropdown-item" href="#">
                                                More 2
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">
                                                Misc
                                        </a>
                                </div>
                        </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                        <input
                                class="form-control mr-sm-2"
                                type="search"
                                placeholder="Search"
                                aria-label="Search"
                        />
                        <button
                                id="searchSubmit"
                                class="btn btn-outline-success my-2 my-sm-0"
                                type="submit"
                                ;
                        >
                                Search
                        </button>
                </form>
        </div>
</nav>
<div class="fade-in" id="mainContainer">
        <b id="head-main"> What do you seek, wanderer?</b>
</div>
<div
        id="secContainer"
        class="fade-in-bounce d-sm-flex sec-container flex-center"
>
        <button
                type="button"
                class="btn btn-primary btn-lg big-btn"
        >
                Answers
        </button>
        <button
                type="button"
                class="btn btn-primary btn-lg big-btn"
        >
                Questions
        </button>
</div>
{% endblock %}
