<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="utf-8" />
                <meta
                        name="viewport"
                        content="shrink-to-fit=no,width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no"
                        
                />
                <link
                        rel="shortcut icon"
                        href="{{ url_for('static', filename = 'favicon.ico')}}"
                />
                <link
                        rel="stylesheet"
                        href="{{url_for('static', filename='bootstrap.min.css')}}"
                />
                <link
                        rel="stylesheet"
                        href="{{url_for('static', filename='style.css')}}"
                />
                <link
                        rel="stylesheet"
                        href="https://www.w3schools.com/w3css/4/w3.css"
                />
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
                <meta name="HandheldFriendly" content="true" />
                <title>{% block title %}{% endblock %}</title>
                {% block head %} {% endblock %}
        </head>
        <body>
                {% block body %}{% endblock %}
                <script
                        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                        crossorigin="anonymous"
                ></script>
                <script
                        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                        crossorigin="anonymous"
                ></script>
                <script src="{{ url_for('static',
                filename='bootstrap.min.js')}}"
                integrity"sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
                crossorigin="anonymous" />

                <script
                        src="https://kit.fontawesome.com/c5f4b70474.js"
                        crossorigin="anonymous"
                ></script>

                {#
                <script type="text/javascript">
                        #}
                                                   {#$(window).on("load", function () {#}
                                                           {#$("#myModal").modal("show");#}
                                                   {#});#}
                                           {#
                </script>
                #}
        </body>
</html>
